In [ ]:
import pandas as pd
import numpy as np
#upload the file in the drive before proceding
hospitals = pd.read_csv('/content/Complications_and_Deaths-Hospital.csv')
hospitals.head()

,Facility ID,Facility Name,Address,City,State,ZIP Code,County Name,Phone Number,Measure ID,Measure Name,Compared to National,Denominator,Score,Lower Estimate,Higher Estimate,Footnote,Start Date,End Date
0,010001,SOUTHEAST HEALTH MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,HOUSTON,(334) 793-8701,COMP_HIP_KNEE,Rate of complications for hip/knee replacement...,No Different Than the National Rate,102,2.4,1.4,4.2,NaN,04/01/2018,03/31/2021
1,010001,SOUTHEAST HEALTH MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,HOUSTON,(334) 793-8701,MORT_30_AMI,Death rate for heart attack patients,No Different Than the National Rate,317,12.4,9.8,15.4,NaN,07/01/2018,06/30/2021
2,010001,SOUTHEAST HEALTH MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,HOUSTON,(334) 793-8701,MORT_30_CABG,Death rate for CABG surgery patients,No Different Than the National Rate,172,4.7,2.7,7.8,NaN,07/01/2018,06/30/2021
3,010001,SOUTHEAST HEALTH MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,HOUSTON,(334) 793-8701,MORT_30_COPD,Death rate for COPD patients,No Different Than the National Rate,182,8.5,6.0,12.1,NaN,07/01/2018,06/30/2021
4,010001,SOUTHEAST HEALTH MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,HOUSTON,(334) 793-8701,MORT_30_HF,Death rate for heart failure patients,Better Than the National Rate,630,8.3,6.6,10.3,NaN,07/01/2018,06/30/2021

In [ ]:
# It can be noted that the data types for numerical columns are of type object
hospitals.dtypes

Facility ID             object
Facility Name           object
Address                 object
City                    object
State                   object
ZIP Code                 int64
County Name             object
Phone Number            object
Measure ID              object
Measure Name            object
Compared to National    object
Denominator             object
Score                   object
Lower Estimate          object
Higher Estimate         object
Footnote                object
Start Date              object
End Date                object
dtype: object

In [ ]:
# To make modification of the data easier the values that are numerical are changed to float
# Optional - the date column can be converted to type Date, but as it is not used the same is avoided
hospitals[hospitals['Denominator'] == 'Not Available'] = 0
hospitals[hospitals['Score'] == 'Not Available'] = 0
hospitals[hospitals['Lower Estimate'] == 'Not Available'] = 0
hospitals[hospitals['Higher Estimate'] == 'Not Available'] = 0
hospitals = hospitals.astype({'Denominator':'float','Score':'float', 'Lower Estimate': 'float', 'Higher Estimate': 'float'})

In [ ]:
# making a dataframe corresponding to Measure ID 'MORT_30_CABG'
hospitals_mort_30 = hospitals[(hospitals['Score'] != 0) & (hospitals['Measure ID'] == 'MORT_30_CABG')]
hospitals_mort_30_aggregated = hospitals_mort_30.groupby('State').agg(
    cabg_num_hospitals=('Facility ID', 'count'),
    cabg_mean_score=('Score', 'mean'),
    cabg_median_score=('Score', 'median'),
    cabg_largest_denominator=('Denominator', 'max'),
    cabg_score_with_largest_denominator=('Denominator', lambda x: hospitals_mort_30.iloc[x.argmax()]['Score']),
    cabg_hospital_with_largest_denominator=('Denominator', lambda x: hospitals_mort_30.iloc[x.argmax()]['Facility Name'])).reset_index()
hospitals_mort_30_aggregated.head()

,State,cabg_num_hospitals,cabg_mean_score,cabg_median_score,cabg_largest_denominator,cabg_score_with_largest_denominator,cabg_hospital_with_largest_denominator
0,AK,2,2.900000,2.90,83.0,3.5,NORTH ALABAMA MEDICAL CENTER
1,AL,20,3.355000,3.50,314.0,2.2,UNIVERSITY OF ALABAMA HOSPITAL
2,AR,14,3.435714,3.35,442.0,2.4,DCH REGIONAL MEDICAL CENTER
3,AZ,23,2.813043,2.80,209.0,2.1,PROVIDENCE ALASKA MEDICAL CENTER
4,CA,85,2.888235,2.80,321.0,2.2,PRINCETON BAPTIST MEDICAL CENTER

In [ ]:
# making a dataframe corresponding to Measure ID 'COMP_HIP_KNEE'
hospitals_hip_knee = hospitals[(hospitals['Score'] != 0) & (hospitals['Measure ID'] == 'COMP_HIP_KNEE')]
hospitals_hip_knee_aggregated = hospitals_hip_knee.groupby('State').agg(
    hip_knee_num_hospitals=('Facility ID', 'count'),
    hip_knee_mean_score=('Score', 'mean'),
    hip_knee_median_score=('Score', 'median'),
    hip_knee_largest_denominator=('Denominator', 'max'),
    hip_knee_score_with_largest_denominator=('Denominator', lambda x: hospitals_hip_knee.iloc[x.argmax()]['Score']),
    hip_knee_hospital_with_largest_denominator=('Denominator', lambda x: hospitals_hip_knee.iloc[x.argmax()]['Facility Name'])).reset_index()
hospitals_hip_knee_aggregated.head()

,State,hip_knee_num_hospitals,hip_knee_mean_score,hip_knee_median_score,hip_knee_largest_denominator,hip_knee_score_with_largest_denominator,hip_knee_hospital_with_largest_denominator
0,AK,9,2.844444,2.5,585.0,2.4,DEKALB REGIONAL MEDICAL CENTER
1,AL,37,2.540541,2.5,836.0,2.2,JACK HUGHSTON MEMORIAL HOSPITAL
2,AR,29,2.513793,2.5,1860.0,2.1,PROVIDENCE HOSPITAL
3,AZ,44,2.400000,2.4,2058.0,1.9,FAIRBANKS MEMORIAL HOSPITAL
4,CA,190,2.432632,2.3,1940.0,2.6,SAINT FRANCIS MEMORIAL HOSPITAL

In [ ]:
# Joining the two data frames generated to get a consolidate into single dataframe
aggregated_by_state = pd.merge(left=hospitals_mort_30_aggregated, right=hospitals_hip_knee_aggregated, left_on='State', right_on='State')
aggregated_by_state.head()

,State,cabg_num_hospitals,cabg_mean_score,cabg_median_score,cabg_largest_denominator,cabg_score_with_largest_denominator,cabg_hospital_with_largest_denominator,hip_knee_num_hospitals,hip_knee_mean_score,hip_knee_median_score,hip_knee_largest_denominator,hip_knee_score_with_largest_denominator,hip_knee_hospital_with_largest_denominator
0,AK,2,2.900000,2.90,83.0,3.5,NORTH ALABAMA MEDICAL CENTER,9,2.844444,2.5,585.0,2.4,DEKALB REGIONAL MEDICAL CENTER
1,AL,20,3.355000,3.50,314.0,2.2,UNIVERSITY OF ALABAMA HOSPITAL,37,2.540541,2.5,836.0,2.2,JACK HUGHSTON MEMORIAL HOSPITAL
2,AR,14,3.435714,3.35,442.0,2.4,DCH REGIONAL MEDICAL CENTER,29,2.513793,2.5,1860.0,2.1,PROVIDENCE HOSPITAL
3,AZ,23,2.813043,2.80,209.0,2.1,PROVIDENCE ALASKA MEDICAL CENTER,44,2.400000,2.4,2058.0,1.9,FAIRBANKS MEMORIAL HOSPITAL
4,CA,85,2.888235,2.80,321.0,2.2,PRINCETON BAPTIST MEDICAL CENTER,190,2.432632,2.3,1940.0,2.6,SAINT FRANCIS MEMORIAL HOSPITAL

In [ ]:
# converting the data into csv
aggregated_by_state.to_csv('aggregated_by_state.csv')